<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/index-styles.css"> 
    <title>Portfolio | Panayoti</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <img src='/static/Trees.png' class="foreground"/>
            <img src='/static/boulder.png' class="middleground"/>
            <img src="/static/Mountain.png"  class="background"/>
            <h1 class="title">Welcome!</h1>
        </header>

            <section >
                <!-- make the about and the descirption leveled
                +definelty add more to it
                +make thew page more responsive
                -->
                <div class="left-box">
                    <p class="about">About</p>
                </div>
                <div class="right-box">
                    <p>Panayoti is a digital nomad and performance-driven Software Engineering student with a pro-active and prompt approach to challenges and problem solving. His extraordinary analytical and critical thinking skills pair well with his team-oriented mindset for superior results in a wide variety of settings.  </p>
                </div>
            </section>
    </div> <!-- Closing tag of .page-wrapper -->

    <!-- Add a footer-->


    <nav id="navbar">
        <div class="nav_menu-link-wrapper">
            <a class="logo-link" href="#"></a>
            <a href="#">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>  
            <a href="#">Resume</a>
        </div>
    </nav>

    <script src="/static/script.js"></script>
</body>
</html>

