<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/index-styles.css"> 
    <title>Portfolio | Panayoti</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <img src='/static/Trees.png' class="foreground"/>
            <img src='/static/boulder.png' class="middleground"/>
            <img src="/static/Mountain.png"  class="background"/>
            <h1 class="title">Welcome!</h1>
        </header>

            <section id="about">
                <!-- make the about and the descirption leveled
                +definelty add more to it
                +make thew page more responsive
                -->
                <div class="left-box">
                    <div class="top-left">
                        <p class="about">About</p>
                    </div>
                    <div class="bottom-left">
                        <img src="/static/YotiNorthFace.JPG" alt="Panayoti" class="panayoti">
                    </div>
                </div>
                <div class="right-box">
                    <div class="top-right">
                        <p>Panayoti is a digital nomad and performance-driven Software Engineering student with a pro-active and prompt approach to challenges and problem solving. His extraordinary analytical and critical thinking skills pair well with his team-oriented mindset for superior results in a wide variety of settings.  </p>
                    </div>
                    <div class="bottom-right">
                        <p>On the brink of graduating from Florida State University with a focus on software development. My journey in this field has been a thrilling exploration of problem-solving and innovation, driven by a passion for crafting solutions that simplify complexities.

                            Beyond software development, I immerse myself in diverse passions that mirror my zeal for creating impactful solutions. Whether it's exploring nature, trying to find unclimbed boulders, delving into the world of calisthenics, or nurturing an avid interest in outdoor photography, I channel the same dedication and enthusiasm that fuels my software endeavors.
                            
                            My approach to life echoes in all my pursuits immerse, learn, and innovate. I thrive on the challenge of mastering new skills and technologies, pouring the same energy into my hobbies as I do into my craft. This holistic approach shapes not just my work but also defines who I am as a dedicated individual committed to excellence and continuous growth.</p>
                    </div>
                </div>
            </section>
    </div> <!-- Closing tag of .page-wrapper -->

    <!-- Add a footer-->


    <nav id="navbar">
        <div class="nav_menu-link-wrapper">
            <img class="logo-link" src="/static/logo.png" alt="Logo">
            <a href="/#about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>  
            <a href="/static/Resume|2024.pdf" target="_blank">Resume</a>
        </div>
    </nav>

    <script src="/static/script.js"></script>
</body>
</html>

